*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F7F2F9;
}
#container{
    display: none;
}
#container.active{
display: block;
}

#container form{
    display: flex;
    flex-direction: column;
}
button{
    cursor: pointer;
}